h1 {
    text-align: center;
}
h3
{
    background-color:rgb(163, 181, 225);
    color:#296478;
    font-size:0.9em;
    margin-bottom:0px;
    text-align: center;
}
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 20px;
}
h3 a {
  font-size: 36px; 
}
h3 em {
  font-size: 16px;
}
.site-content {
    flex: 1;
}
h2 {
    text-align: center;
}
.indigo{
    background-color: #3f51b5;
}
.site-content{
    background-color: #cecece;
    margin-top: 30px;
    padding-bottom: 30px;
}
.image img {
  width: 100%;
}
.news
{
    background-color: rgb(163, 181, 225);
    margin-bottom: 15px;
    color: #296478;
    border-radius: 10px;
}
#articlesForm {
    text-align: center;
}
.center {
    text-align: center;
}

a
{
    text-decoration: none;
    color: blue;
}
div img#imgHome {
    width: 100%;    
    position: relative;
}
h1#title {
    position: absolute;
    top: 40%;
    left:20%;
    color: #296478;
    font-size: 4em;
    background-color: rgba(255, 255, 255, 0.61);
    border-radius: 25px;
    padding: 0px 25px;
    max-width: 55%;
    max-height: 11%;
    overflow: hidden;
}
header + div {
    padding-top: 50px;
}
.container-fluid .navbar-nav  {
    float: right;
}
form {
    margin-top: 30px;
}
footer.page-footer {
    padding-right: 0;
    padding-left: 0;
}
.footer-copyright {
    background-color: #92c1d8;
}
.modalAuthor {
    font-weight: bold;
}
@media all and (max-width: 1658px) {
  h1#title {
  	font-size: 3.5em;
  }
}
@media all and (max-width: 1468px) {
  h1#title {
  	font-size: 3em;
  }
}
@media all and (max-width: 1274px) {
  h1#title {
  	font-size: 2.5em;
  }
}
@media all and (max-width: 812px) {
  h1#title {
  	font-size: 2em;
  }
}
@media all and (max-width: 668px) {
  h1#title {
  	font-size: 1.5em;
  }
}
@media all and (max-width: 524px) {
  h1#title {
  	display: none;
  }
  #titleNav {
    font-size: 17px;
  }
}